web/WEB-INF/wsdl/localhost_8080/proyectoII/ServiciosSimca.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://serviciosweb.proyecto2.unicauca.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serviciosweb.proyecto2.unicauca.com/">

<xs:element name="autentificarUsuario" type="tns:autentificarUsuario"/>

<xs:element name="autentificarUsuarioResponse" type="tns:autentificarUsuarioResponse"/>

<xs:element name="consultarUsuario" type="tns:consultarUsuario"/>

<xs:element name="consultarUsuarioResponse" type="tns:consultarUsuarioResponse"/>

<xs:complexType name="consultarUsuario">
<xs:sequence>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autentificarUsuario">
<xs:sequence>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autentificarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>